{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="mb-2 p-2">
          <option selected disabled>Symbol</option>
          {% for stock in stocks %}
            <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
          {% endfor %}
          
        </select>
        <input class="mb-4 form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1"> 
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
